.class1 {
  height: 100px;
  width: 350px;
}

#one {
  background: midnightblue;
}

div:nth-child(2) {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
div:nth-child(3) {
  background-color: skyblue;
}

div:first-child {
  color: white;
  border-color: green;
  border-width: 2px;
  border-style: solid;

  font-size: 35px;
  font-family: arial;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 100px;
  text-align: center;
}

.sub2 {
  height: 50px;
  width: 50px;
  background-color: white;
}
