* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 15vh;
    background-color: skyblue;
}

.header-navigation, .page-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-body {
    display: flex;
    height: 70vh
}

.side-bar {
    background-color: orange;
    width: 20vw;
    padding: 20px;
}

side-bar- ul li {
    padding: 15px;
}