* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;

}

.main-content {
  width: 310px;
  padding: 100px 30px 30px 30px;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 130px;
  left: calc((100vw - 310px) / 2);
}

.calculator-inputs {
  margin: 0 auto;
}
input, .result {
  width: 120px;
  height: 30px;
  padding-left: 1px;
  border-radius: 5px;
  background: rgb(164, 199, 164);
  font-size: larger;
  letter-spacing: 1px;
}

.operation-buttons {
  margin: 0 auto;
  margin-top: 15px;
  display: grid;
  width: 170px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px
}

button {
  width: 80px;
  height: 30px;
  font-weight: bold;
  background: rgb(27, 200, 27);
  color: white;
  border-radius: 3px;
}

.result {
  position: absolute;
  top: 50px;
  height: 40px;
  left: calc((100% - 210px) / 2);
  margin: 0 auto;
  width: 210px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}